# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Cache
.pytest_cache/
.mypy_cache/
.cache/